

* {
  margin: 0;
  padding: 0;
}

body {
  background:#e5e5e5;
}

p {
    width:100%;
    font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
}

.warsaw {
  margin: 10% 0;
}

@media all and (min-width:480px) and (max-width:800px) {
  .warsaw {
    margin-top: 0;

  }
}

.four{
  font-size:15em;
}



/* .warsaw {
  text-align: justify;
  font-size: 10em;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;

  } */

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
  font-size: 14em;
  width:100%;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  max-width: initial;
}
@media all and (min-width:480px) and (max-width:800px) {
  .bg {
    font-size: 10em;
  }
}

.bg2 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
  font-size: 14em;
  width:100%;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  max-width: initial;
}

@media all and (min-width:480px) and (max-width:800px) {
  .bg2 {
    font-size: 10em;
  }
}

.bg3 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
  font-size: 14em;
  width:100%;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  max-width: initial;
}

@media all and (min-width:480px) and (max-width:800px) {
  .bg3 {
    font-size: 10em;
  }
}

.bg4 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
  font-size: 14em;
  width:100%;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  max-width: initial;
}

@media all and (min-width:480px) and (max-width:800px) {
  .bg4 {
    font-size: 10em;
  }
}

.bg5 {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
  font-size: 14em;
  width:100%;
  font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
  max-width: initial;
}

@media all and (min-width:480px) and (max-width:800px) {
  .bg5 {
    font-size: 9em;
  }
}

li
{  list-style:none;
   }

li a
    { display:block;
      float:left;
      width:20%;
      padding:25px 0;
      text-align:center;
      font-family: 'HeydingsCommonIconsRegular', Helvetida Neue, sans-serif;
      font-weight:700;
      letter-spacing:1px;
      font-size:20px;
      color:#fff;
      background:#ccc;
      text-decoration:none;
      text-transform:uppercase;
      text-shadow:2px 2px 0 rgba(0,0,0,.25);
      transition:.25s;}

li a:hover  {
      margin:-10px 0 0 0;
}

.menu {
  overflow: hidden;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: yellow;}

.firstp {
  display: none;
}


.menu li:first-child a {  background:#ffca6d !important;}
.menu li:nth-child(3) a {  background:#ff6d6d !important;}
.menu li:nth-child(5) a {  background:#6dffb9 !important;}
.menu li:nth-child(7) a {  background:#6dcaff !important;}
.menu li:nth-child(9) a {  background:#ec6dff !important;}


.menu li:first-child:hover ~ .bg {
  background: #ffca6d;
  display: block;
}

.menu li:nth-child(3):hover ~ .bg2 {
  background: #ff6d6d;
display: block;
}
.menu li:nth-child(5):hover ~ .bg3 {
  background: #6dffb9;
  display: block;
}
.menu li:nth-child(7):hover ~ .bg4 {
  background: #6dcaff;
  display: block;
}
.menu li:nth-child(9):hover ~ .bg5 {
  background: #ec6dff;
  display: block;
}
